/*This stylesheet contains the style of the blogspecific.html*/
/*Styles that do not apply to the bloglist page should be moved either to style.css or the css file with the correct name*/
/*Applies for code for all screen sizes*/

header {
    border-bottom: 1px solid black;
}



/*Content*/

.blog-post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 10em;
}

.post-content p{
    padding: 1em 0em;
}

.post-info {
    border-top: 1px solid grey;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

