/*This stylesheet contains the style of the contact.html*/
/*Styles that do not apply to the bloglist page should be moved either to style.css or the css file with the correct name*/
/*Applies for code for all screen sizes*/

.contact-text-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
}

