
.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    padding-top: 100px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    overflow: hidden;
    display: none;
}

.img-in-modal {
    display: block;
    margin: auto;
    width: 40%;
    max-width: 50%;
    max-height: auto;
}


