/*This stylesheet contain the universal style and the style of the index.html*/
/*CSS code that applies speficially to the other HTML pages should be written in the css file with the pagename*/
/*Applies for code for all screen sizes*/

:root {
    --main-white: #F7F7F7;
    --font-color-black: #262626;
    --green: #778A47;
    --blue: #7B8A99;
}

* {
    box-sizing: border-box;
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
}

/*Fonts and text*/
h1, h2, h3 {
    font-family: 'Cinzel', serif;
    font-weight: 300;
}

a {
    font-family: 'Avenir Next', arial, helvetica;
}

p {
    font-family: 'Avenir Next', arial, helvetica;
    line-height: 150%;
}

.date{
    letter-spacing: 1.2pt;
}


/*Header content*/
/*Navigation*/
nav a {
    text-decoration: none;
    color: var(--font-color-black);
}

nav a:hover {
    text-decoration: underline 2px solid var(--green);
}

nav li {
    list-style-type: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.active {
    text-decoration: underline 2px dotted;
}

#top-nav {
    display: flex;
    justify-content: space-between;
    margin: 0.5em 2em 0em;
}

/*Hamburger nav*/
.hamburger {
    display: none;
    gap: 0.3em;
}

.hamburger p {
    font-size: 20px;
}

.bar {
    display: block;
    width: 23px;
    height: 2px;
    background-color: var(--font-color-black);
    margin: 5px 0;
}

/*Logo*/
#logo-wrap {
    display: flex;
    justify-content: center;
    margin: 1em 2em 0.3em;
}
#logo-image {
    max-width: 15em;
}

/*Icons*/
#icon-wrap {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

#icon-wrap i {
    font-size: 2.1em;
    color: var(--green);
}

#icon-wrap a i:hover {
    color: var(--blue);
}

/*Background image homepage*/
#bottom-nav {
    background-image: url("../images/rachel-park-hrlvr2ZlUNk-unsplash Large.jpeg");
    background-color: white;
    background-size: 100%;
    background-position: 40% 40%;
    background-repeat: no-repeat;
    opacity: 80%;
    margin: 0em 2em;
    padding: 10rem;
}


/*The front-page slider*/
.latest-blog-slider{
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    grid-auto-columns: 21%;
    overflow-x: auto;
}

.slider-card img {
    max-width: 100%;
    min-width: 100%;
    height: 50%;
    object-fit: cover;
    
}

.slider-card {
    box-shadow: 1px 1px 6px lightgray, -1px -1px 8px lightgray;
}

.slider-card h3 { 
    padding: 0.4rem;
}

.karusell-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}

.karusell-wrap h2{
    margin: 1em 0em 1em;
}





/*Media screens start*/

@media screen and (max-width: 768px) {

/*Navigation*/

    .hamburger {
        display: flex;
    }
    .nav-list {
        position: fixed;
        left: -100%;
        top: 6.5rem;
        flex-direction: column;
        background-color: white;
        width: 100%;
        transition: 0.4s;
        z-index: 999;
        padding-top: 10px;
    }

    .nav-list li {
        font-size: 1.5rem;
        margin-left: 1em;
    }

    .nav-list.hamburgeractive {
        left: 0;
    }

    #top-nav {
        margin: 0.8em 0.6em;
    }


    /*Background image*/
    #bottom-nav {
        background-size: 110%;
        background-position: 50% 25%;
        margin: 0em;
        padding: 5.5rem;
    }

    /*Icons*/
    #icon-wrap {
        display: none;
    }


}